# LUCI Appliciations
CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_luci-app-acl=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-qos=y



#CONFIG_PACKAGE_luci-app-ramfree=y
#CONFIG_PACKAGE_luci-app-samba4=y
#CONFIG_PACKAGE_luci-app-statistics=y
#CONFIG_PACKAGE_luci-app-syncdial=y
#CONFIG_PACKAGE_luci-app-timecontrol=y
#CONFIG_PACKAGE_luci-app-ttyd=y
#CONFIG_PACKAGE_luci-app-upnp=y
#CONFIG_PACKAGE_luci-app-usb-printer=y
#CONFIG_PACKAGE_luci-app-wechatpush=y
#CONFIG_PACKAGE_luci-app-zerotier=y


#CONFIG_PACKAGE_luci-app-netwizard=y
#CONFIG_PACKAGE_luci-app-advanced=y


#CONFIG_PACKAGE_luci-app-advancedplus=y
#CONFIG_PACKAGE_luci-app-parentcontrol=y
#CONFIG_PACKAGE_luci-mod-dashboard=y
#CONFIG_PACKAGE_luci-app-wizard=y



#CONFIG_PACKAGE_luci-app-natflow-users=y
#CONFIG_PACKAGE_luci-app-quickstart=y

# 主题包
CONFIG_PACKAGE_luci-theme-argon=y
#CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_default-settings-chn=y
