
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y

CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_HAS_DEVICES=y
CONFIG_TARGET_BOARD="x86"
CONFIG_TARGET_SUBTARGET="64"
CONFIG_TARGET_PROFILE="DEVICE_generic"
CONFIG_TARGET_ARCH_PACKAGES="x86_64"

#
# Oui
#

#
# Applications
#
CONFIG_PACKAGE_oui-app-acl=y
CONFIG_PACKAGE_oui-app-backup=y
CONFIG_PACKAGE_oui-app-demo=y
CONFIG_PACKAGE_oui-app-dhcp-lease=y
CONFIG_PACKAGE_oui-app-home=y
CONFIG_PACKAGE_oui-app-layout=y
CONFIG_PACKAGE_oui-app-login=y
CONFIG_PACKAGE_oui-app-stations=y
CONFIG_PACKAGE_oui-app-system=y
CONFIG_PACKAGE_oui-app-upgrade=y
CONFIG_PACKAGE_oui-app-user=y
# end of Applications

CONFIG_PACKAGE_oui-rpc-core=y
CONFIG_PACKAGE_oui-ui-core=y
CONFIG_OUI_LOGIN_VIEW="login"
CONFIG_OUI_LAYOUT_VIEW="layout"
CONFIG_OUI_HOME_VIEW="home"
CONFIG_OUI_USE_HOST_NODE=y
# end of Oui


# IPv6 支持
CONFIG_IPV6=y
CONFIG_KERNEL_IPV6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y


# CONFIG_PACKAGE_odhcpd=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd_ext_prefix_class=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_odhcpd_ext_cer_id=0
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_kmod-ipt-nat6=y

# 内核模块
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y

# USB 相关
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_smartmontools=y

## USB 网络共享
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-hso=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_libudev-fbsd=y
CONFIG_PACKAGE_usbutils=y

## USB 网络存储
#CONFIG_PACKAGE_autosamba=y


CONFIG_PACKAGE_luci-app-netwizard=y
CONFIG_PACKAGE_luci-app-advanced=y
CONFIG_PACKAGE_luci-app-advancedplus=y
CONFIG_PACKAGE_luci-app-parentcontrol=y


